<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar saída</title>
</head>
<body>
    <h1>Adicionar os detalhes da saída</h1>
    <form action="/adicionar-saida" method="post">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" value="<%= user.nome %>" readonly>
        <label for="username">Id de Usuário:</label>
        <input type="text" id="username" name="username" value="<%= user.login %>" readonly>
        
        <!-- Dropdown list para veículos -->
        <label for="veiculo">Selecione o veículo:</label>
        <select name="veiculo_ID" id="veiculo">
            <% veiculos.forEach(function(veiculo) { %>
                <option value="<%= veiculo.veiculo_ID %>">
                    <%= veiculo.marca %> - <%= veiculo.modelo %> - <%= veiculo.placa %>
                </option>
            <% }); %>
        </select>

        <!-- Dropdown list para itinerário -->
        <label for="itineratio">Itinerário:</label>
        <select id="itineratio" name="itineratio" required>
            <option value="Hospital São Francisco">Hospital São Francisco</option>
            <option value="São Paulo">São Paulo</option>
            <option value="Santa Casa">Santa Casa</option>
            <option value="Santa Branca">Santa Branca</option>
            <option value="Pq. Meia Lua">Pq. Meia Lua</option>
            <option value="Jd. Liberdade">Jd. Liberdade</option>
            <option value="Centro">Centro</option>
            <option value="São José dos Campos">São José dos Campos</option>
            <option value="IFSP">IFSP</option>
        </select>

        <!-- Dropdown list para serviço -->
        <label for="servico">Serviço:</label>
        <select id="servico" name="servico" required>
            <option value="Transporte de Materiais">Transporte de Materiais</option>
            <option value="Busca de materiais">Busca de materiais</option>
            <option value="Transporte de paciente">Transporte de paciente</option>
            <option value="Transporte de pessoas">Transporte de pessoas</option>
            <option value="inspecao">Inspecao</option>
            <option value="ato de prevenção de saúde">Ato de prevenção de saúde</option>
            <option value="oficina de manutenção">Oficina de manutenção</option>
            <option value="vigilância sanitária">Vigilância sanitária</option>
        </select>

        <label for="km_inicial">Quilometragem Inicial:</label>
        <input type="integer" id="km_inicial" name="km_inicial" required>

        <label for="hora_inicial">Data e hora de Saída:</label>
        <input type="datetime" id="hora_inicial" name="hora_inicial" required>
        
        <button type="submit">Confirmar</button>
    </form>
    <button onclick="location.href='/login'">Voltar</button>
</body>
</html>