<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar saída</title>
</head>
<body>
    <h1>Adicionar os detalhes da saída</h1>
    <form action="/adicionar-saida" method="post">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" value="<%= user.nome %>" readonly>
        <label for="username">Id de Usuário:</label>
        <input type="text" id="username" name="username" value="<%= user.login %>" readonly>
        <label for="veiculo">Id de Usuário:</label>
        <input type="text" id="veiculo" name="veiculo" readonly>
        
        <!-- Dropdown list para veículos -->
        <label for="veiculo">Selecione o veículo:</label>
        <select name="veiculo_ID" id="veiculo">
            <% veiculos.forEach(function(veiculo) { %>
                <option value="<%= veiculo.veiculo_ID %>">
                    <%= veiculo.marca %> - <%= veiculo.placa %>
                </option>
            <% }); %>
        </select>

        <label for="itineratio">Itineratio:</label>
        <input type="text" id="itineratio" name="itineratio">

        <label for="km_inicial">Quilometragem Inicial:</label>
        <input type="integer" id="km_inicial" name="km_inicial">

        <label for="hora_inicial">Data e hora de Saída:</label>
        <input type="datetime" id="hora_inicial" name="hora_inicial">
        
        <button type="submit">Confirmar</button>
    </form>
    <button onclick="location.href='/login'">Voltar</button>
</body>
</html>