<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar saída</title>
    <script>
        function salvarDados() {
            const veiculo_ID = document.getElementById('veiculo').value;
            const itinerario = document.getElementById('itinerario').value;
            const servico = document.getElementById('servico').value;
            const kmSaida = document.getElementById('kmSaida').value;
            const dataSaida = document.getElementById('dataSaida').value;
            const usuario_ID = document.getElementById('username').value;

            fetch('/viagem/adicionar-saida', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    veiculo_ID,
                    itinerario,
                    servico,
                    kmSaida,
                    dataSaida,
                    usuario_ID
                }),
            })
          
            .catch(error => {
                console.error('Erro ao salvar dados de saída:', error);
            });
        }
    </script>
</head>
<body>
    <h1>Adicionar os detalhes da saída</h1>
    <form action="/adicionar-saida" method="post">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" value="<%= user.nome %>" readonly>
        <label for="username">Id de Usuário:</label>
        <input type="text" id="username" name="username" value="<%= user.login %>" readonly>
        
        <!-- Dropdown list para veículos -->
        <label for="veiculo">Selecione o veículo:</label>
        <select name="veiculo_ID" id="veiculo">
            <% veiculos.forEach(function(veiculo) { %>
                <option value="<%= veiculo.veiculo_ID %>">
                    <%= veiculo.marca %> - <%= veiculo.modelo %> - <%= veiculo.placa %>
                </option>
            <% }); %>
        </select>

        <!-- Dropdown list para itinerário -->
        <label for="itinerario">Itinerário:</label>
        <select id="itinerario" name="itinerario" required>
            <% itinerarios.forEach(function(itinerario) { %>
                <option value="<%= itinerario %>"><%= itinerario %></option>
            <% }); %>
        </select>

        <!-- Dropdown list para serviço -->
        <label for="servico">Serviço:</label>
        <select id="servico" name="servico" required>
            <% servicos.forEach(function(servico) { %>
                <option value="<%= servico %>"><%= servico %></option>
            <% }); %>
        </select>

        <label for="kmSaida">Quilometragem Inicial:</label>
        <input type="integer" id="kmSaida" name="kmSaida" required>

        <label for="dataSaida">Data e hora de Saída:</label>
        <input type="datetime" id="dataSaida" name="dataSaida" required>
        
        <button type="button" onclick="salvarDados()">Confirmar</button>
    </form>
    <button onclick="location.href='/login'">Voltar</button>
</body>
</html>